<!DOCTYPE html>
<html>
<head>
    <title>All flight and route</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<style>
    table{
        border-collapse: collapse;
    }
    table, td, th{
        border: 1px solid #fff;
        padding: 5px;
    }
    .my_button{
        font-size: 14pt;
        width: 400px;
        height: 40px;
    }
</style>
    <body>
    <h2>Submitted File</h2>
    <table>
        <tr>
            <td>file.isEmpty:</td>
            <td>{{file.isEmpty}}</td>
        </tr>
        <tr>
            <td>file.getBytes:</td>
            <td>{{file.getBytes}}</td>
        </tr>
    </table>
    </body>
</html>
