<!DOCTYPE html>
<html>
<head>
    <title>Flight</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<style>
    table{
        border-collapse: collapse;
    }
    table, td, th{
        border: 1px solid #fff;
        padding: 5px;
    }
    .my_button{
        font-size: 14pt;
        width: 400px;
        height: 40px;
    }
</style>
<body>

    <div>
        <table>
            <td><form method="get" action="/flight">
                <button type="submit">back</button>
            </form></td>
        </table>
    </div>

    <table>
       {{#flights}}
           <tr>
               <td>
                   <b>Id:</b> {{flightId}}<br>
                   <b>Airbus:</b> {{airbus}}<br>
                   {{#route}}
                       <b>Route Id:</b> {{routeId}}<br>
                   {{/route}}
                   <b>Depart Time:</b> {{departTime}}<br>
                   <b>Travel Time:</b> {{travelTime}}
               </td>
           </tr>
       {{/flights}}
    </table>
    <br>

    <div>
        <form method="post" action="/flight/update">
            <input type="text" name="flightId" placeholder="flightId"/>
            <input type="text" name="airbus" placeholder="airbus"/>
            <input type="text" name="route" placeholder="route"/>
            <input type="date" name="departTime" placeholder="departTime"/>
            <input type="date" name="arrivalTime" placeholder="arrivalTime"/>
            <a href="/flight"><button type="submit">update</button></a>
        </form>
    </div>
</body>
</html>
