<!DOCTYPE html>
<html>
<head>
    <title>Route</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<style>
    table{
        border-collapse: collapse;
    }
    table, td, th{
        border: 1px solid #fff;
        padding: 5px;
    }
    .my_button{
        font-size: 14pt;
        width: 400px;
        height: 40px;
    }
</style>
<body>
    <table>
        <td><form method="get" action="/">
            <button type="submit">back</button>
        </form></td>
        <td><form method="get" action="/route">
            <button type="submit">all</button>
        </form></td>
    </table>
    <table>
        <td>
            <form method="post" action="/route/filter">
                <input type="text" name="filter">
                <button type="submit">Find</button>
            </form>
        </td>
    </table>
    <table>
        {{#routes}}
            <tr>
                <td>
                    <b>Route Id:</b> {{routeId}}<br>
                    <b>Depart Point:</b> {{departPoint}}<br>
                    <b>Arrival Point:</b> {{arrivalPoint}}<br>
                </td>
                <td></td>
                <td><form method="get" action="/route/oneRoute/{{routeId}}">
                    <button type="submit">update</button>
                </form></td>
                <td>
                    <form method="get" action="/route/delete/{{routeId}}">
                        <a href="/route">
                            <button type="submit">delete</button>
                        </a>
                    </form>
                </td>
            </tr>
        {{/routes}}
    </table>
    <br>

    <div>
        <form method="post" action="/route/create">
            <input type="text" name="departPoint" placeholder="departPoint"/>
            <input type="text" name="arrivalPoint" placeholder="arrivalPoint"/>
            <a href="/route"><button type="submit">Add</button></a>
        </form>
    </div>
</body>
</html>
