<!DOCTYPE html>
<html>
<head>
    <title>Route</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<style>
    table{
        border-collapse: collapse;
    }
    table, td, th{
        border: 1px solid #fff;
        padding: 5px;
    }
    .my_button{
        font-size: 14pt;
        width: 400px;
        height: 40px;
    }
</style>
<body>
    <div>
        <form action="/login" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign In"/>
        </form>
    </div>
    <table>
        <td><form method="get" action="/mainLocal">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">back</button>
        </form></td>
        <td><form method="get" action="/routeLocal">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">all</button>
        </form></td>
    </table>
    <table>
        <td>
            <form method="post" action="/route/filter">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="text" name="filter" placeholder="Depart or Arrival Point">
                <button type="submit">Find</button>
            </form>
        </td>
    </table>
    <table>
        {{#routes}}
            <tr>
                <td>
                    <b>Route Id:</b> {{routeId}}<br>
                    <b>Depart Point:</b> {{departPoint}}<br>
                    <b>Arrival Point:</b> {{arrivalPoint}}<br>
                </td>
            </tr>
        {{/routes}}
    </table>
</body>
</html>
